@import '../../../constants.less';
.planCards{
    & .header{
        & .title{
            font-size: @font-size-large;
        }
        & .subtitle {
            margin-top: 10px;
            color:@font-color-subtitle;
        }
    }
    padding:10px; 
    color:@primary;
    & .cards{
        margin-top: 30px;
        & .card{
            :global {
                .ant-card-meta-title{
                    font-weight: 900;
                }
                .ant-card-actions > li > span {
                    font-size: @font-size-medium;   
                }
            }
            & .cover{
                & .coverContent {
                    & >h2 {
                        font-size: @font-size-medium;
                        color: white;
                    }
                    position: absolute;
                    color: white;
                    top: 25%;
                    left: 5%;
                    z-index: 1;

                }
                & img{
                    width: 100%;
                    filter: brightness(70%);
                    z-index: -1;
                }
            }
        }
    }
    :global{
        & .ant-carousel .slick-dots {
            & li button{
                background-color:@primary;
            }
            position: absolute;
            bottom:60px;
          }
    }
}

@media only screen and (min-width: 576px) {
    .planCards{
        & .header{
            padding-left: 5px;
        }
        display: flex;
        flex-flow: row wrap;
        color:@primary;
        & .cards{
            & .card{
                padding: 5px;
                :global {
                    .ant-card-meta-title{
                        font-weight: 900;
                    }
                    .ant-card-actions > li > span {
                        font-size: @font-size-medium;   
                    }
                }
            }
        }
    }
}
